@import "prismjs/themes/prism-coy";

@font-face {
  font-family: Nahid;
  src: url('./Nahid.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fira-mono-latin-400.woff') format('woff');
}

html, body {
  direction: rtl;
  font-family: Nahid, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  --color-red: #cf3349;
  --color-green: #32c252;
  --color-blue: #0083e5;
}

h1 {
  margin: 0;
  font-size: inherit;
}

pre, code {
  &[class*="language-"] {
    direction: ltr;
    font-family: 'Fira Mono', monospace;
    font-size: 0.8rem;
  }
}

div.frame {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  color: #393e46;

  > div:first-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

div.credit {
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(transparent, #bbb);
  text-shadow: 0 0 0.5rem #888;
  transition: filter 0.2s;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
  }
}

div.window {
  width: calc(100% - 4rem);
  max-width: 720px;
  background-color: #aad8d3;
  box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}

div.header {
  padding: 0.25rem 0.5rem;
  border-bottom: 0.25rem solid #00adb5;
  font-size: 1.5rem;
  background-color: #393e46;
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    font-size: 1rem;
    padding: 6px;
    border-radius: 4px;
    line-height: 1rem;
  }
}

div.content {
  width: 90%;
  margin: 0 auto 1rem auto;
}

div.error {
  transition: max-height 0.8s ease;
  overflow: hidden;

  div.roller {
    padding-top: 1.5rem;

    & > div {
      color: #eeeeee;
      background-color: #cf3349;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

div.buttons {
  display: flex;
  flex-direction: row-reverse;

  button {
    margin-right: 1rem;
  }
}

div.graphs canvas {
  width: 100%;
  height: 7.5rem;
}

button {
  font: inherit;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.2s;
  cursor: pointer;
  color: #eeeeee;
  border-width: 1px;
  border-style: solid;

  &[disabled] {
    background-color: #999;
    border-color: #666;
    cursor: not-allowed;
  }
}

button.start {
  background-color: #00adb5;
  border-color: var(--color-blue);

  &:hover,
  &:active,
  &:focus {
    background-color: #00bdc5;
  }
}

button.stop {
  background-color: #cf3349;
  border-color: var(--color-red);

  &:hover,
  &:active,
  &:focus {
    background-color: #ea2f4a;
  }
}

button.panic {
  background-color: #a59412;
  border-color: #9a8208;

  &:hover,
  &:active,
  &:focus {
    background-color: #b2a621;
  }
}

button.dismiss {
  background-color: #cccccc;
  color: #333;
  border-style: none;

  &:hover,
  &:active,
  &:focus {
    background-color: #dddddd;
  }
}
